<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="single_notification()">
      Single Notification
    </ion-button>

    <ion-button (click)="multi_notification()">
      Multi Notifcations
    </ion-button>

    <ion-button (click)="delayed_notification()">
      Delayed Notification
    </ion-button>
  </div>
</ion-content>